@{
    ViewData["Title"] = "Student Registration";
}

<h1>Welcome to Student Registration Form.</h1>
<strong> Enter the Student Details</strong><br />

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Name : </td>
            <td><input id="SName" type="text" /></td>
        </tr>
        <tr>
            <td>Age : </td>
            <td><input id="SAge" type="text" /></td>
        </tr>
        <tr>
            <td>City : </td>
            <td><input id="SCity" type="text" /></td>
        </tr>
        <tr>
            <td>Subject : </td>
            <td><input id="SSub" type="text" /></td>
        </tr>
        <tr>
            <td>Mob No : </td>
            <td><input id="SMob" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2"><input id="Submit" type="button" value="Save Details" /></td>
        </tr>
    </table>
}